body{
    font-family: Times New Roman, Times, serif;
    text-align: center;
    background-color: rgb(248, 246, 197);
}
#board{
    width: 400px;
    height: 400px;

    background-color: rgb(196, 198, 198);
    border: 6px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width:90.3px;
    height:90px;
    border: 5px solid black;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x2{
    background-color: #ed9297;
    color: black;
}
.x4{
    background-color: #ff6088;
    color: black;
}
.x8{
    background-color: #ff58bf;
    color: black;
}
.x16{
    background-color: #ed89ff;
    color: black;
}
.x32{
    background-color: #45ffdd;
    color: black;
}
.x64{
    background-color: #6bffcb;
    color: black;
}
.x128{
    background-color: #78cdf4;
    color: black;
}
.x256{
    background-color: #57ccce;
    color: black;
}
.x512{
    background-color: #a57def;
    color: black;
}
.x1024{
    background-color: #b6e46a;
    color: black;
}
.x2048{
    background-color: #99dfb2;
    color: black;
}
.x4096{
    background-color: #eacf86;
    color: black;
}
.x8192{
    background-color: #ff0000;
    color: black;
}
